/*Colors*/ 
$backgroundcolor: linear-gradient( #6BBDD6,#948052);
$inputbackground: #D5D5D5;

/*Font sizes*/

$regulartextsize:  2rem;

$headerfontfam: "Poppins", san serif;

/*media queries*/

$tabletview: 768px;

$laptopview: 1024px;